.DS_Store

*.y.c
*.y.h
*.lex.c

*.swp
*.bak
*.dSYM/

*.out

# Compiled Intermediate files
*.i
*.s

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.md.html
